input[type=text], input[type=password], .textarea
{
    display: block;
    background: transparent;
    line-height: 26px;
    font-size: 16px;
    border: 0;
    width: 300px;
    border-bottom: 3px solid rgba(0,0,0,0.05);
    box-sizing: border-box;
    transition: border 0.1s;
}

.textarea
{
    width: 100%;
    min-height: 100px;
}

input[type=text]:focus, input[type=password]:focus, .textarea:focus
{
    outline: 0;
    border-bottom: 3px solid  #F44336;
    border-color: #E91E63;
}

input[type=submit], button, a.button, .card.mini a
{
    display: inline-block;
    text-decoration: none;
    border: 0;
    background: 0;
    cursor: pointer;
    font-size: 16px;
    color: #B71C1C;
    color: #C51162;
    padding: 15px;
    position: relative;
    transition: all 0.1s;
    font-weight: bold;
    background: white;
    margin: 5px;
}

.card.mini a
{
    margin: 0;
}

input[type=submit]:hover, button:hover, a.button:hover
{
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
    z-index: 2;
}

input[type=submit]:active, button:active, a.button:active, .card.mini a:active
{
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
    background: #fafafa;
    background: #FCE4EC;
    outline: none;
    z-index: 2;
}

input[type=submit]:focus, button:focus, a.button:focus, .card.mini a:focus
{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
    outline: none;
    z-index: 1;
}

form *::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba(0,0,0,0.2) !important;
    opacity: 1;
}
form *:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgba(0,0,0,0.2) !important;
    opacity: 1;
}
form *::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgba(0,0,0,0.2) !important;
    opacity: 1;
}
form *:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: rgba(0,0,0,0.2) !important;
    opacity: 1;
}